.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  font-weight: bold;
}
/*
.happy{
  font-size: 15px;
  color: green;
  margin-top: -20px;
  text-align: center;
  font-weight: bold;
}
  */